<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="user/images/favicon.ico">
	<link rel="apple-touch-icon" href="user/images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<!-- Stylesheets -->

	<link rel="stylesheet" href="user/css/plugins.css">
	<link rel="stylesheet" href="user/css/style.css">
	
	<!-- Cusom css -->
   <link rel="stylesheet" href="user/css/custom.css">

	<!-- Modernizer js -->
	<script src="user/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
	
	
	
	
	
	<!-- JS Files -->
	<script src="user/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="user/js/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="user/js/plugins.js"></script>
	<script src="user/js/active.js"></script>
</body>
</html>